header {
  text-align: center;
}

table {
  margin: auto;
  padding: 2px;
  border: 1px black solid;
  border-radius: 0.5em;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  cursor: pointer;
}

.toClick {
    text-align: center;
}

td, th, .td {
    width: 17.5em;
}

.toClick, .toClickNoPointer {
    width: 7em;
}

aside {
    float: left;
    width: 15em;
}

#addPerson {
    width: 4em;
    height: 4em;
    border: 1px black solid;
    border-radius: 0.5em;
    margin: auto;
}

#addPerson span{
    margin: 32%;
}

#form {
    width: 12em;
    text-align: center;
    margin: 2em auto auto auto;
}

.formElement {
    width: 90%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}